body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: 'Public Sans', sans-serif;
}

.load-bar-spinning {
    border: 8px solid #ccc;
    border-radius: 50%;
    border-top: 8px solid #238531;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
